<table>
	<tr><th>Total preguntas:</th>
		<td><%= statistics.questions %></td></tr>
	<tr><th>Total comentarios:</th>
		<td><%= statistics.comments %></td></tr>
	<tr><th>Promedio de comentarios por pregunta:</th>
		<td><%= statistics.averageCperQ %></td></tr>
	<tr><th>Total preguntas sin comentarios:</th>
		<td><%= statistics.withoutComments %></td></tr>
	<tr><th>Total preguntas con comentarios:</th>
		<td><%= statistics.withComments %></td></tr>
</table>
